# habitat
results/
policyfiles/*.lock.json

.idea
.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*

# test kitchen
.kitchen/
.kitchen.local.yml

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json

# terraform
terraform.tfvars
terraform.tfstate*
.terraform*
examples/**/terraform.tfvars
examples/**/terraform.tfstate*
examples/**/terraform.tfstate.d/*
examples/**/.terraform
examples/**/.terraform*
examples/**/*.log
test/fixtures/*/terraform.tfvars
test/fixtures/*/.terraform
test/fixtures/*/terraform.tfstate*
test/fixtures/*/terraform.tfstate.d/*
